html {
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
}

.App {
    margin: 0 auto;
    /*font-family: Roboto;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.Game > h2, .Game > div {
    text-align: center;
    margin: .5em auto;
}

.Game {
    perspective: 60em;
}

.Board {
    display: table;
    border: .6em solid rgb(51, 51, 51);
    /*background-color: rgb(224, 210, 13);*/
    background-color: rgb(75, 30, 20);
    padding: .4em 0 0 .4em;
    transform: rotate3d(1, 0, 0, 20deg);
}

.Square {
    width: 5em;
    height: 5em;
    margin: 0 .4em .4em 0;
    border: none;
    color: rgb(255, 255, 255);
}

.GamePiece {
    width: 4em;
    height: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 0 0.2em 0.4em -0.2em rgb(0, 0, 0);
    -moz-box-shadow: 0 0.2em 0.4em -0.2em rgb(0, 0, 0);
    box-shadow: 0 0.2em 0.4em -0.2em rgb(0, 0, 0);
}

.piece-overlay {
    width: 4em;
    height: 3.6em;
    border-radius: 2em;
    /*background-color: rgba(255, 255, 255, 0.25);*/
    -webkit-box-shadow: 0 0.5em 0.4em 0.2em rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0.5em 0.4em 0.2em rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.5em 0.4em 0.2em rgba(0, 0, 0, 0.4);
}

.player-one {
    background-color: rgb(255, 51, 51);
}

.player-two {
    background-color: rgb(76, 76, 76);
}

.player-one-turn-text {
    color: rgb(255, 51, 51);
}

.player-two-turn-text {
    color: rgb(76, 76, 76);
}

.playable-square {
    /*background-color: rgb(25, 25, 25);*/
    background-color: rgb(175, 75, 53);
}

.non-playable-square {
    /*background-color: rgb(201, 51, 51);*/
    background-color: rgb(245, 212, 142);
}