.App {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.Game > h2, .Game > div {
    text-align: center;
    margin: .5em auto;
}

.Board {
    display: table;
    border: .6em solid rgb(51, 51, 51);
    background-color: rgb(224, 210, 13);
    padding: .4em 0 0 .4em;
}

.Square {
    width: 5em;
    height: 5em;
    margin: 0 .4em .4em 0;
    border: none;
    color: rgb(255, 255, 255);
}

.GamePiece {
    width: 4em;
    height: 4em;
    border-radius: 2em;
}

.player-one {
    background-color: rgb(255, 51, 51);
}

.player-two {
    background-color: rgb(76, 76, 76);
}

.playable-square {
    background-color: rgb(0, 0, 0);
}

.non-playable-square {
    background-color: rgb(201, 51, 51);
}